{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" type="text/css" href='{% static "animcad.css" %}'>
</head>
<body>
    <section class="login-container">
        <div class="menu-login">
            <h1>Cadastre um Animal</h1>
            <table>
            <form action="/teste/animcad/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Enviar">
            </form>
            </table>
        </div>
</body>
</html>