{% load static %}
{% if lista %}
<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

<div class="login-container">
    {% for animal in lista %}
    <button class="btn">
        <a href="/teste/{{ animal.id }}/">{{ animal.Nome }}
    </button>
        
    {% endfor %}

{% else %}
    <p>Nenhum animal encontrado.</p>
{% endif %}


</div>

<a href="/teste/animcad/"><button class="btn3">Um Novo Animal</button></a>
<a href="/teste/logout"><button class="btn3">Logout</button></a>