{% load static %}
{% if lista %}
<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

<section class="login-container">
    <div class="menu-login">
        
    <ul>
    {% for animal in lista %}
        <button class="btn"><a href="/teste/{{ animal.id }}/">{{ animal.Nome }}</button></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nenhum animal encontrado.</p>
{% endif %}

</div>
</section>

<p><a href="/teste/animcad/"> Cadastre um Novo Animal</a></p>
<p><a href="/teste/logout"> Logout</a></p>