<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="images/LOBISOMWEM.jpg" type="image/x-icon">
</head>
<body>

    <section class="login-container">
        <div class="menu-login">
            <h1>Login</h1>
            <input type="text" class="input-button" placeholder="Nome">
            <br><br>
            <input type="password" class="input-button" placeholder="Senha">
            <br><br>
            <button>Enviar</button>
            <p><a href="/"> Esqueci minha senha</a></p>
            <p><a href="/"> Cadastre-se</a></p>
        </div>
    </section>
    <img src="images/instituto_pata.jpg" class="img" alt="Logo PATA">
    <img src="images/Logo_CETEC_Vertical_PNG.png" align="right" class="img2" alt="Logo CETEC">

    <script src="script.js"></script>
</body>
</html>